<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="commandConfiguration" type="Command.Business.CommandConfiguration, Command.Business"/>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <!--
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=TestDB;Initial Catalog=MyDB;Integrated Security=false;User ID=userid;Password=password;Application Name=Command Service" />
  </connectionStrings>
  -->

  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm:v1">
      <probing privatePath="C:\inetpub\wwwroot\CommandServiceTest\"/>
    </assemblyBinding>
  </runtime>-->

  <commandConfiguration>
    <sources>
      <add key="TestCommands" filePath="C:\inetpub\wwwroot\CommandServiceTest\Command.TestCommands.dll"/>
    </sources>
  </commandConfiguration>
</configuration>